<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127611228372-mio8ka4ttou4gk0dp53tbcr1863fk80h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127611228372-mio8ka4ttou4gk0dp53tbcr1863fk80h</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ql4Flhkh9OqrKFw9s1ufbaDw3yAfS5U</string>
	<key>GCM_SENDER_ID</key>
	<string>127611228372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hungernoelgames</string>
	<key>PROJECT_ID</key>
	<string>hungernoelgame</string>
	<key>STORAGE_BUCKET</key>
	<string>hungernoelgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127611228372:ios:c1226a1c9d831bb90bab41</string>
</dict>
</plist>